.waitlist-page {
    --ps-h2-margin-bottom: 0.708rem; 
    --ps-p-margin-bottom: 1.5rem;
    width: 100%;
    padding: 2rem;
}

.header-section {
    text-align: center;
    padding-bottom: 2rem;
}

.waitlist-section {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    margin-bottom: 1.25rem;
}

.waitlist-section__block {
    position: relative;
    flex: 1 0 auto;
    padding: 0.5rem;
    border: 0.104rem solid transparent;
    border-radius: 0.75em;
    background: #fff;
    color: #7A69DF;
    text-align: center;
    min-width: 200px;
}

.waitlist-section__text {
    font-family: RobotoMono;
    font-size: 1em;
    font-weight: 700;
    color: #7A69DF;
}

.waitlist-subtext {
    font-family: RobotoMono;
    font-size: 0.8em;
    font-weight: 400;
    color: #7A69DF;
}